<div class="adminnavi" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="./index.php"><{$legacy_module}></a>
    &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><a href="./index.php?action=ModuleList"><{$smarty.const._MI_LEGACY_MENU_MODULELIST}></a></span>
</div>

<{include file="admin_menu.html"}>

<div class="adminPage">
<h2><{$smarty.const._MD_XCCK_LANG_CONFIG_CATEGORY2_WIZARD}></h2>
<p class="description">
<{$smarty.const._MD_XCCK_DESC_CONFIG_CATEGORY2_WIZARD}>
</p>

<form action="index.php" method="POST">
<dl>
  <dt><{$smarty.const._AD_XCCK_LANG_SHOW_ORDER}></dt>
  <dd><select name="list_order"><{foreach item=item from=$orderList}><option value="<{$item}>"<{if $item==$showOrder}> selected="selected"<{/if}>><{$item}></option><{/foreach}></select></dd>
  <{if $type=='cat'}>
  <dt><{$smarty.const._AD_XCCK_LANG_AUTH_TYPE}></dt>
  <dd><select name="auth_type"><{foreach item=item from=$list}><option value="<{$item}>"<{if $item==$authType}> selected="selected"<{/if}>><{$item}></option><{/foreach}></select></dd>
  <{/if}>
</dl>
<{xoops_input type=hidden name=action value="Config%sWizard"|sprintf:$type}>
<input type="submit" value="<{$smarty.const._SUBMIT}>" />
</form>
</div>
