<div class="ui-dev-mode"><{$smarty.template}></div>

<div class="adminnavi" aria-label="breadcrumb">
    <a href="<{$xoops_url}>/admin.php">Dashboard</a>
    &raquo;&raquo; <a href="./index.php?action=Index"><{$legacy_module}></a>
    &raquo;&raquo; <span class="adminnaviTitle" aria-current="page"><a href="./index.php?action=OrderShow"><{$smarty.const._MI_XCCK_LANG_ORDER_SHOW}></a></span>
</div>

<{include file="admin_menu.html"}>


<div class="adminPage">
<h2><{$smarty.const._AD_XCCK_LANG_ORDER_SHOW}></h2>

    <div class="tips">
        <p class="description"><{$smarty.const._AD_XCCK_DESC_ORDER_SHOW}></p>
    </div>

<table class="outer">
    <thead>
<tr>
<th><{$smarty.const._MD_XCCK_LANG_FIELD_NAME}></th>
<th><{$smarty.const._MD_XCCK_LANG_LABEL}></th>
<th><{$smarty.const._AD_XCCK_LANG_ASC_ORDER_NUMBER}></th>
<th><{$smarty.const._AD_XCCK_LANG_DESC_ORDER_NUMBER}></th>
</tr>
</thead>
<tbody class="list_center">
<tr><td>page_id</td><td><{$smarty.const._MD_XCCK_LANG_PAGE_ID}></td><td>1</td><td>-1</td></tr>
<tr><td>title</td><td><{$smarty.const._MD_XCCK_LANG_TITLE}></td><td>2</td><td>-2</td></tr>
<tr><td>category_id</td><td><{$smarty.const._MD_XCCK_LANG_CATEGORY_ID}></td><td>3</td><td>-3</td></tr>
<tr><td>maintable_id</td><td><{$smarty.const._MD_XCCK_LANG_MAINTABLE_ID}></td><td>4</td><td>-4</td></tr>
<tr><td>p_id</td><td><{$smarty.const._MD_XCCK_LANG_P_ID}></td><td>5</td><td>-5</td></tr>
<tr><td>descendant</td><td><{$smarty.const._MD_XCCK_LANG_DESCENDANT}></td><td>6</td><td>-6</td></tr>
<tr><td>uid</td><td><{$smarty.const._MD_XCCK_LANG_UID}></td><td>7</td><td>-7</td></tr>
<tr><td>weight</td><td><{$smarty.const._MD_XCCK_LANG_WEIGHT}></td><td>8</td><td>-8</td></tr>
<tr><td>status</td><td><{$smarty.const._MD_XCCK_LANG_STATUS}></td><td>9</td><td>-9</td></tr>
<tr><td>posttime</td><td><{$smarty.const._MD_XCCK_LANG_POSTTIME}></td><td>10</td><td>-10</td></tr>
<tr><td>updatetime</td><td><{$smarty.const._MD_XCCK_LANG_UPDATETIME}></td><td>11</td><td>-11</td></tr>

<{foreach item=definition from=$definitions}>
<tr>
<td><{$definition->getShow('field_name')}></td>
<td><{$definition->getShow('label')}></td>
<td><{$definition->get('definition_id')+2}></td>
<td>-<{$definition->get('definition_id')+2}></td>
</tr>
<{/foreach}>
</tbody></table>
</div>
