<{* Dev-Mode Toggle *}>
<{if $xoops_isadmin}><div class="ui-dev-mode"><{$smarty.template}></div><{/if}>

<{* 🔻 TODO 🛠 breadcrumbs fatal *}>
<{* include file="db:`$dirname`_inc_breadcrumbs.html" *}>
<nav aria-label="breadcrumb">
    <ul>
        <li>
            <a href="<{$xoops_url}>/">
                <img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" width="1em" height="1em" alt="home">
            </a>
        </li>
        <li>
            <a href="<{xoops_cooluri dirname=$dirname}>">
                <img class="svg folder" src="<{$xoops_url}>/images/icons/folder.svg" width="1em" height="1em" alt="category"> <{$xoops_modulename}>
            </a>
        </li>
    </ul>
</nav>

<article class="xcck">

    <header>
        <h2 class="action-control">
            <span><{$smarty.const._EDIT}> <{$smarty.const._MD_XCCK_LANG_DEFINITION}> : <{$object->getShow('label')}></span>
            <a href="<{xoops_cooluri dirname=$dirname dataname=definition data_id=$object->getShow('definition_id') action=edit}>" data-tooltip="<{$smarty.const._MD_XCCK_LANG_DEFINITION_EDIT}>">
                <img class="svg edit" src="<{$xoops_url}>/images/icons/edit.svg" width="1em" height="1em" alt="edit">
           </a>
        </h2>
    </header>

    <label class="grid-2">
        <{$smarty.const._MD_XCCK_LANG_FIELD_NAME}>
    <input type="text" value="<{$object->getShow('field_name')}>" placeholder="valid" aria-valid="true" readonly>
    </label>
    <label class="grid-2">
        <{$smarty.const._MD_XCCK_LANG_LABEL}>
    <input type="text" value="<{$object->getShow('label')}>" placeholder="valid" aria-valid="false" readonly>
    </label>
    <label class="grid-2">
        <{$smarty.const._MD_XCCK_LANG_FIELD_TYPE}>
    <input type="text" value="<{$object->getShow('field_type')}>" placeholder="valid" aria-valid="false" readonly>
    </label>
    <label class="grid-2">
        <{$smarty.const._MD_XCCK_LANG_VALIDATION}>
    <input type="text" value="<{$object->getShow('validation')}>" placeholder="valid" aria-valid="false" readonly>
    </label>
    <label class="grid-2">
        <{$smarty.const._MD_XCCK_LANG_REQUIRED}>
    <input type="text" value="<{$object->getShow('required')}>" placeholder="valid" aria-valid="false" readonly>
    </label>
    <label class="grid-2">
        <{$smarty.const._MD_XCCK_LANG_WEIGHT}>
    <input type="text" value="<{$object->getShow('weight')}>" placeholder="valid" aria-valid="false" readonly>
    </label>
    <label class="grid-2">
        <{$smarty.const._MD_XCCK_LANG_SHOW_LIST}>
    <input type="text" value="<{$object->getShowYN('show_list')}>" placeholder="valid" aria-valid="false" readonly>
    </label>
    <label class="grid-2">
        <{$smarty.const._MD_XCCK_LANG_SEARCH_FLAG}>
    <input type="text" value="<{$object->getShowYN('search_flag')}>" placeholder="valid" aria-valid="false" readonly>
    </label>
    <label class="grid-2">
        <{$smarty.const._MD_XCCK_LANG_DESCRIPTION}>
    <input type="text" value="<{$object->getShow('description')}>" placeholder="valid" aria-valid="false" readonly>
    </label>
    <label class="grid-2">
        <{$smarty.const._MD_XCCK_LANG_OPTIONS}>
    <input type="text" value="<{$object->getShow('options')}>" placeholder="valid" aria-valid="false" readonly>
    </label>

    <footer>
        <{* NOTE : Error if include menu *}>
        <{* include file="db:`$dirname`_inc_menu.html" isSubtable=$isSubtable *}>
        <a role="button" class="primary" href="<{xoops_cooluri dirname=$dirname dataname=definition data_id=$object->getShow('definition_id') action=edit}>">
            <{$smarty.const._MD_XCCK_LANG_DEFINITION_EDIT}></a>
    </footer>

</article>
